{% extends "AdminBundle::layout.html.twig" %}
{% set nav = 'product' %}
{% block side %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">商品管理</div>
        </div>
        <div class="list-group">
            <a href="{{ url('admin_product') }}" class="list-group-item {% if sub_nav == 'product' %}active{% endif %}">
                商品管理
            </a>
            <a href="{{ url('admin_product_category') }}" class="list-group-item {% if sub_nav == 'category' %}active{% endif %}">
                商品分类管理
            </a>
        </div>
    </div>
{% endblock %}