* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 13px;
}

.agc-nav {
    background: #3097D1;
    font-weight: 400;
    border-bottom: 1px solid #1c73a5;
    -webkit-font-smoothing: antialiased;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a
{
    /*background: rgba(98, 180, 226, 1);*/
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover{
    color: rgba(255, 255, 255, 1);
}

.category-select {
    display: inline-block;
    width: 100%;
}

.category-select select {
    display: inline-block;
    width: 30%;
}


.cursor-point {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}

.age-mutil-input .help-block {
    display: none;
}

.ag-brand-logo-prev {
    display: block;
    width: 100px;
    /*height: 100px; */
    position: relative;;
}

.ag-brand-logo-pre-info {
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    filter:Alpha(opacity=0.3);
    background-color: rgba(0, 0, 0, 0.6);
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    color: #fff;
    overflow: hidden;
    font-size: 10px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ag-brand-logo-pre-error {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: red;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px;
}

.ag-brand-logo-pre-success {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: green;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px;
}

.table>tbody>tr>td.agc-table-va {
    vertical-align: middle;
}


