{% extends "AdminBundle:Product:layout.html.twig" %}
{% set sub_nav = 'category' %}
{% set script = 'category_list' %}
{% block main %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}">首页</a></li>
        <li class="active">分类列表</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
          分类列表
      </div>
      <div class="panel-body">
        <div class="clearfix mbl">
          <span class="pull-right">
            <div class="btn-group btn-group-sm" role="group">
              <a data-url="{{ path('admin_category_add') }}" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-global"><span class="glyphicon glyphicon-plus"></span>添加分类</a>
              {# <a href="javascript:;" class="btn btn-danger btn-sm delete-all">批量操作</a> #}
            </div>
          </span>
        </div>
      </div>
        {% if not categoryTree %}
            <div class="alert alert-danger tc">分类为空</div>
        {% else %}
          <table class="table table-responsive table-hover">
            <tr>
              {# <th class="select-all text-info cursor-point" data-selected="0">全选</th> #}
              <th>分类名称</th>
              <th>排序</th>
              <th>是否启用</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
            {% for category in categoryTree %}
              {% include 'AdminBundle:ProductCategory:list-item.html.twig' with {category: category} only %}
            {% endfor %}
          </table>
        {% endif %}
    </div>
{% endblock %}